@font-face {
    font-family: FiraGO;
    src: url(../Fonts/FiraGO-Regular.woff);
  }

  @font-face {
    font-family: Blinker;
    src: url(../Fonts/Blinker-Black.ttf);
  }

  body {
    background: #F5F5F5;

    justify-content: center;
    display: flex;
    align-items: center;

    height: 100vh;
  }

  .card {
    box-sizing: border-box;

    width: 718px;
    height: 748px;
    left: 281px;
    top: 52px;

    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;

    padding-left: 51px;
  }

  h1 {
    width: 191px;
    height: 43px;
    left: 328px;
    top: 92px;
    margin-bottom: 13px;

    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
  }

  .input_item label {
    display: block;

    width: 191px;
    height: 14px;
    left: 332px;

    font-family: FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    margin-bottom: 5PX;
  }
 

  .input_item input {
    box-sizing: border-box;
    
    width: 616px;
    height: 49px;
    left: 332px;
    margin-bottom: 11px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    color:#1E1E1E;

    padding-left: 20px;
    padding-right: 20px;
  }
 
   h4 {
    width: 191px;
    height: 14px;
    left: 332px;
    margin-top: 9px;
    margin-bottom: 5px;
    
    font-family:FiraGO;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
    
   }



  select {
    box-sizing: border-box;

    width: 616px;
    height: 50px;
    margin-top: 5px;
    margin-right: 51px;
    margin-bottom: 10px;
    
    padding-left: 15px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;

    font-family:FiraGO;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color:#000000;
  }

  .option1 {
    color: #000000;
  }

  ::placeholder {
    color: #E7E7E7;

    padding-top: 20px;
    padding-right: 20px;

  }

  textarea {

    width: 596px;
    height: 138px;
    left: 332px;
    margin-top: 5px;
    margin-bottom: 6px;

    padding-left: 20px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;

    font-family:FiraGO;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  textarea::placeholder {
     color: #E7E7E7;
  }

  .btn {
    justify-content: right;

    width: 205px;
    height: 47px;
    background: #FFDD04;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #000000;

    font-family:FiraGO;
    font-style: normal;
    font-size: 16px;

    margin-top: 11px;
    margin-right: 51px;
    margin-bottom: 24px;
    margin-left: 418px;
  }